body {
   font-size: small;
}

nav a {
   color: #fff !important;
}

.card-home {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   /* width: 80%; */
}

.center {
   text-align: center;
}

img {
   max-width: 100%;
   height: auto;
}

.deck {
   margin: 0;
   position: relative;
   width: 25%;
   float: left;
}

.chest-img {
   margin: 0;
   position: relative;
   width: 20%;
   float: left;
}

.deck img {
   display: block;
}

.image-caption {
   position: absolute;
   z-index: 100;
   bottom: 0em;
   left: 0em;
   right: 0em;
   color: white;
   padding-bottom: 2em;
}

.image-caption p {
   margin: 1em;
}

.battleDeck {
   width: 12.5%;
   float: left;
}

.battle-card {
   border: 1px solid black;
}

.blue {
   color: blue;
}

.lost {
   background-color: #ff9999;
}

.won {
   background-color: #8ada9c;
}

.won-two {
   background-color: #51fd79;
}

.fa-sort-up {
   color: green;
}

.fa-sort-down {
   color: red;
}

.home-header {
   height: 30vh;
   width: 100vw;
   display: flex;
   display: flex;
   align-items: center;
   text-align: center;
   /* background-color: rgb(190, 240, 225); */
   color: #000;
   border-bottom: 2px solid rgba(0, 0, 0, 0.801);
}

.right-align {
   float: right;
}

.cover {
   width: 100px;
   height: 100px;
   background-size: cover;
}

@media (min-width: 37rem) {
   .deck {
      width: 12.5%;
      float: left;
   }
}

@media screen and (max-width: 37rem) {
   .hide {
      display: none;
   }
   .chest-img {
      width: 15%;
      float: left;
   }
}
